
.Home {
    color: var(--color-secondary);
    width : 100%;
    display: flex;
}

.TitleContainer {
    margin: auto;
}

@media screen and (max-width: 570px) {
    .TitleContainer {
        padding: 0 1rem;
    }
    .TitleContainer h2 {
        padding-top: 1rem;
    }
}