
.FormMain{
    display: flex;
    flex-direction: column;
}
.Form {
    background: hsl(0, 0%, 100%, 50%);
    border-radius: 30px;
    margin: auto;
    padding: 2rem;
    height: 400px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
}
.InputDiv label, .Textarea label{
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
}
.Textarea label {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
}
textarea {
    background-color: transparent;
    border: solid black 1px;
    width: 100%;
    height: 100px;
}

form > div input, form select {
    background: transparent;
    border: none;
    border-bottom: solid 1px black;
}
input[type="submit"] {
    margin: 0 auto;
    background-color: var(--color-600);
    color: #fff;
    font-size: var(--fs-500);
    font-family: var(--ff-primary);
    width: 125px;
    padding: .7rem;
    border: none;
    border-radius: 10px;
    transition: .2s ease-out;
}
input[type="submit"]:hover {
    background-color: var(--color-500);
    color: var(--color-600);
}