
.FormMain{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.Form {
    background: hsl(0, 0%, 100%, 60%);
    border-radius: 30px;
    margin: auto;
    padding: 2rem;
    height: 500px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 92%;
}
input, textarea, select, button {
    font-size: var(--fs-500);
    font-family: var(--ff-primary);
}

.InputDiv label, .Textarea label{
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
}
.Textarea label {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
}
textarea {
    background-color: transparent;
    border: solid var(--color-600) 1px;
    width: 100%;
    height: 100px;
}
form > div input, form select {
    background: transparent;
    border: none;
    border-bottom: solid 1px var(--color-600);
}

.BtnSend {
    position: relative;
    margin: 0 auto;
    background-color: var(--color-600);
    color: #fff;
    width: 125px;
    padding: .7rem;
    border: none;
    border-radius: 10px;
    transition: .2s ease;
}

.BtnSend:hover, .BtsSend:focus {
    background-color: var(--color-500);
    animation: pulse .5s;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }
    10% {
        box-shadow: 0 0 0 .2em hsl(194, 100%, 46%, 90%)
    }
    20% {
        box-shadow: 0 0 0 .3em hsl(194, 100%, 46%, 80%);
    }
    100% {
        box-shadow: 0 0 0 1em transparent;
    }
}
form input:focus, textarea:focus {
    border: 2px solid #000;
    border-radius: 5px;
}

@media screen and (max-width: 540px) {
    .Form {
        height: 100%;
    }
    .InputDiv {
        width: 100%;
    }
    .InputDiv label {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 50%;
        gap: .4rem;
    }
    .Textarea label {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
        gap: .2rem;
    }
}