.Link {
    color:var(--color-secondary);
    text-decoration: none;
}
.Link, .Active {
    transition: .2s linear;
}
.Link:hover, .Active:hover{
    display: inline-block;
    transform: scale(1.2);
}
.Active:hover:after {
    bottom: -7px;
    height: 1.5px;
}
.Active {
    position: relative;
}

.Active:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 1px;
    background-color: var(--color-secondary);
}