.Filter {
    display: flex;
    justify-content: flex-end;
}
.FilterMobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Filter .InputDiv, .FilterMobile .InputDiv {
    position: relative;
    width: 100%;
    max-width: 150px;
}
.FilterMobile .InputDiv {
    left: 50%;  
    transform: translateX(-50%); 
}
.Filter input, .FilterMobile input {
    max-width: 150px;
    max-height: 30px;
    background-color: var(--color-primary);
    border: solid var(--color-secondary) 1px;
    border-radius: 29px;
    padding : .2rem .8rem;
    font-size: 1.1rem;
    font-family: var(--ff-primary);
    color: var(--color-secondary);
}
.Filter input::placeholder, .FilterMobile input::placeholder {
    color: var(--color-secondary);
}
.Filter input, .Filter input::placeholder, .FilterMobile input, .FilterMobile input::placeholder {
    opacity: .8;
}

.Filter input:focus, .Filter .ActiveInput, .FilterMobile .ActiveInput, .FilterMobile input:focus {
    opacity: 1;
    border-radius: 20px 20px 0 0;
}

.Filter input:focus ,.Filter .ActiveInput, .FilterMobile input:focus, .FilterMobile .ActiveInput {
    background: var(--color-secondary);
    color: var(--color-700);
}
