.GalleryContainer {
    position: relative;
    width:90%;
    max-width: 800px;
    margin: 0 auto;
}
.PicsContainer, .PicsContainerMobile {
    margin: 2rem 0;
    display:grid;
    grid-template-rows: auto;
    gap: .5rem;
}
.PicsContainer {
    grid-template-columns: repeat(3, 1fr);
}
.PicsContainerMobile {
    grid-template-columns: repeat(2, 1fr);
}

.PicsContainer div > img, .PicsContainerMobile div > img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
    object-fit: cover;
    width: 100%;
}
.PicsContainer div > img {
    min-height: 450px;
}
.PicsContainerMobile div > img {
    min-height: 400px;
    max-height: 400px;
}

